# =====================
# Visual Studio / .NET
# =====================
.vs/
*.user
*.suo
*.sln.docstates
*.userosscache
*.userprefs
*.pdb
*.cache
*.log
*.db

# Build folders
bin/
obj/
out/

# Publish folder
publish/

# EF Core Migrations (optional)
Migrations/

# Rider IDE files
.idea/

# OS-specific files
.DS_Store

# Others
*.swp
*.bak
*.tmp
